<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossbowffs.nekosms">
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="true">
        <activity
            android:name="com.crossbowffs.nekosms.app.FilterListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.crossbowffs.nekosms.app.FilterEditorActivity"
            android:label="@string/filter_editor">
        </activity>
        <activity
            android:name="com.crossbowffs.nekosms.app.BlockedSmsListActivity"
            android:label="@string/blocked_messages">
        </activity>
        <provider
            android:name="com.crossbowffs.nekosms.provider.NekoSmsProvider"
            android:label="NekoSmsProvider"
            android:authorities="com.crossbowffs.nekosms.provider"
            android:readPermission="android.permission.READ_SMS"
            android:writePermission="android.permission.WRITE_SMS"
            android:exported="true"/>
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Pattern-based text message blocking for Android 4.4+"/>
        <meta-data
            android:name="xposedminversion"
            android:value="2"/>
    </application>
</manifest>
